.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 410px;
  height: 400px;
  background-color: aqua;
}

.disabled{
  pointer-events: none;
  opacity: 0.3;
}
/* .bigBoxResult{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 510px;
  height: 500px;
  background-color: rgb(114, 113, 113);
} */

.resultat{text-align: center;}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  width: 133px;
  height: 133px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.reload{
  width: 200px;
  height: 80px;
  background-color: aqua;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.reload:hover{
  background-color: azure;
}


